- model_class = Donation
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:country)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:district)
      %th= model_class.human_attribute_name(:transaction_id)
      %th= model_class.human_attribute_name(:amount)
      %th= model_class.human_attribute_name(:date)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @donations.each do |donation|
      %tr
        %td= link_to donation.id, donation_path(donation)
        %td= donation.name
        %td= donation.country
        %td= donation.state
        %td= donation.district
        %td= donation.transaction_id
        %td= donation.amount
        %td= donation.date
        %td=l donation.created_at

= link_to t('.new', :default => t("helpers.links.new")), new_donation_path, :class => 'btn btn-primary'
