- model_class = Donation
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @donation.name
%p
  %strong= model_class.human_attribute_name(:country) + ':'
  %br
  = @donation.country
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @donation.state
%p
  %strong= model_class.human_attribute_name(:district) + ':'
  %br
  = @donation.district
%p
  %strong= model_class.human_attribute_name(:transaction_id) + ':'
  %br
  = @donation.transaction_id
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @donation.amount
%p
  %strong= model_class.human_attribute_name(:date) + ':'
  %br
  = @donation.date

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), donations_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_donation_path(@donation), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), donation_path(@donation), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
